<!DOCTYPE html>
<html>
<body>

<h1>Display a Submit Button</h1>

<form action="{{ url_for('test') }}" method = "POST">
  <div class="msg">{{ msg }}</div>
  <label for="fname">Username: </label>
  <input type="text" id="fname" name="username"><br><br>
  <label for="lname">Email: </label>
  <input type="text" id="lname" name="email"><br><br>
  <label for="lname">password: </label>
  <input type="text" id="lname" name="password"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>